[submodule "gios-cs6200/environment"]
	path = gios-cs6200/environment
	url = https://github.gatech.edu/gios-fall-20/environment
[submodule "gios-cs6200/munit"]
	path = gios-cs6200/munit
	url = https://github.com/nemequ/munit.git
[submodule "gios-cs6200/cmocka"]
	path = gios-cs6200/cmocka
	url = https://github.com/clibs/cmocka.git
[submodule "gios-cs6200/pr1"]
	path = gios-cs6200/pr1
	url = https://github.gatech.edu/dparker66/gios-pr1
[submodule "rait-cs7638/problem-sets"]
	path = rait-cs7638/problem-sets
	url = https://github.gatech.edu/dparker66/rait-problem-sets
[submodule "rait-cs7638/asteroids-project"]
	path = rait-cs7638/asteroids-project
	url = https://github.gatech.edu/dparker66/rait-asteroids-project
[submodule "rait-cs7638/mars-glider-project"]
	path = rait-cs7638/mars-glider-project
	url = https://github.gatech.edu/dparker66/rait-mars-glider-project
[submodule "gios-cs6200/pr3"]
	path = gios-cs6200/pr3
	url = https://github.gatech.edu/dparker66/gios-pr3.git
[submodule "rait-cs7638/rocket-pid-project"]
	path = rait-cs7638/rocket-pid-project
	url = https://github.gatech.edu/dparker66/rait-rocket-pid-project.git
